<h1>
  Editing Slide
  <%= link_to 'Show', @slide, class: "btn btn-default", target: "blank" %>
</h1>

<%= render 'form' %>

<%= link_to 'Show', @slide, class: "btn btn-default btn-sm", target: "blank" %>
<%= link_to 'Back', slides_path, class: "btn btn-default btn-sm" %>
