<h1>
  <%= image_tag @user.icon_url, style: "width: 64px; height: 64px;" %>
  <%= @user.nickname %>
</h1>
<h3 class="text-center">Listing <%= @user.nickname %>'s Slides</h3>
<% @slides.each do |slide| %>
  <div class="col-md-6">
    <%= render "slides/summary", slide: slide, operation: true %>
  </div>
<% end %>
